API_ID=37105375
API_HASH=e793a83368db754cb3a4d90aef2b52b8
BOT_TOKEN=8880524585:AAEmWRa7YZ7YZOn9mbsEFAXznuzsyk_Nf-4
OWNER_ID=1499705163
BOT_USERNAME=@Mitsuxbot
MONGO_DB_URI=mongodb+srv://Devvusz:Devvuszxx05231@cluster0.3rfouod.mongodb.net/?appName=Cluster0
LOG_GROUP_ID=-1004308632828
STRING_SESSION=BQI2Lt8AJhtbFga1GyGPcpLxYWuyuhqFx2JwKr6JbsNXtKbakISMWLBTp_Bg-fRn_EukW2v6iVX7WxToIip9i1OBVqeJgC5UPUPfvNNvT5nFTwa_IGxKspktLlZiodtsTJfz_4KF8UHl-X_ATO9JxLkaGGtznsV862pQjpc3bulOnCNj5AcDuBmOit-ynM7U69x_-WwCjZDr7pW33RsIeHdacBdaeNv1Zu89bFhuEt0Qlb2guuoumgpxfZA1P09dMedco8EYncF0aPNObb4-44MEa6O3W9QC60BOrAHvh8vcRuiWJ6hOFZBMlQWn_60MopgO1JwSCBYaCpCrfwZcmJiwJnhdoAAAAAHJvKHKAA
